In [ ]:
from pathlib import Path

import pandas as pd

pd.set_option("display.max_columns", None)

In [3]:
DATA_DIR = Path.cwd().resolve().parents[1]

In [ ]:
df = pd.read_parquet(DATA_DIR / "data/01_raw/movies_dataset_2025-05-07.parquet")

In [ ]:
cat_cols = ["original_language", "source", "status"]
df[cat_cols] = df[cat_cols].astype("category")

In [23]:
df.sample(5)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count,source,entry_date,was_ingested,is_popular,runtime,budget,revenue,status,tagline,genres,spoken_languages,keywords
3226,False,/2LYbxanVHX0WOSnwMSi3WbMPkjN.jpg,"[18, 10749, 53]",1116242,en,The Red Sea Makes Me Wanna Cry,A haunted woman named Ida journeys from German...,0.3612,/uPRqN7jwCctiS11t9MzSJJeJUDI.jpg,2023-05-24,The Red Sea Makes Me Wanna Cry,False,6.200,17,exploratory,2025-03-22,False,False,21,0,0,Released,,"[Drama, Romance, Suspense]","[Deutsch, العربية, English]","[loss, jordan, romance, grief, travel, relatio..."
1340,False,/w4zq7R4OKc80vJReFC7eDq4VHgf.jpg,"[35, 12]",954802,en,Seize Them!,An arrogant queen becomes a fugitive in her ow...,1.3176,/41ObLC8TWDLnEKjMlax519wPNk2.jpg,2024-04-05,Seize Them!,False,5.200,16,exploratory,2025-04-05,False,False,91,0,0,Released,,"[Comedia, Aventura]",[English],[]
2753,False,/jI5PVSI0EOhjfbcaYr9lqPhsmwr.jpg,"[35, 10751, 18]",993092,zh,我的麻吉4個鬼,This film is adapted from the 2010 South Korea...,0.7020,/dldKicWReyWy4UJ7osu4YDH0ocw.jpg,2023-08-18,Hello Ghost!,False,6.600,12,exploratory,2025-01-20,False,False,104,0,0,Released,,"[Comedia, Familia, Drama]",[普通话],[remake]
2710,False,/2n6KECWCNmekIEgZFNlldkELUsP.jpg,"[28, 18]",997391,ml,ആര്‍ഡിഎക്സ്: റോബര്‍ട്ട് ഡോണി സേവ്യര്‍,"Once-menacing, anger fueled, trained martial a...",2.9962,/E4prGNIMN8USgwZBkVj3ADasAG.jpg,2023-08-25,RDX: Robert Dony Xavier,False,6.745,55,exploratory,2025-03-07,False,False,150,0,0,Released,,"[Acción, Drama]",[],[]
2524,False,/uUVXEEyMsyWxrcbmAppUCYg6egV.jpg,"[35, 18, 10749]",1163194,hi,लापता लेडीज़,"In 2001, somewhere in rural India, two young b...",1.9425,/yXt07MYeiyQRzS69PMHy0BPjCGP.jpg,2024-03-01,Lost Ladies,False,7.700,91,exploratory,2025-04-12,False,False,123,0,0,Released,,"[Comedia, Drama, Romance]",[हिन्दी],"[bride, rural india, bollywood, adventure]"

## Some conclusions from a first glance
- `overview` column will be hard to analyze and feed to the model, due to it's free text nature. This column will bring low to none value with this initial state, however NLP technices like NER could be applied to the text in order of extracting 'mentioned entities'. For now this column won't be taken into account for the analysis.   
- Id columns like: `genre_ids` and `id` won't be taken into account either.
- `original_title`, `title` and `poster_path` columns won't be taken.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              8000 non-null   bool
 1   backdrop_path      7921 non-null   object
 2   genre_ids          8000 non-null   object
 3   id                 8000 non-null   int64
 4   original_language  8000 non-null   category
 5   original_title     8000 non-null   object
 6   overview           8000 non-null   object
 7   popularity         8000 non-null   float64
 8   poster_path        7991 non-null   object
 9   release_date       8000 non-null   object
 10  title              8000 non-null   object
 11  video              8000 non-null   bool
 12  vote_average       8000 non-null   float64
 13  vote_count         8000 non-null   int64
 14  source             8000 non-null   category
 15  entry_date         8000 non-null   datetime64[ns]
 16  was_ingested       8000 non-null   bool
 17  is_popular         8000 non-null   bool
 18  runtime            8000 non-null   int64
 19  budget             8000 non-null   int64
 20  revenue            8000 non-null   int64
 21  status             8000 non-null   category
 22  tagline            8000 non-null   object
 23  genres             8000 non-null   object
 24  spoken_languages   8000 non-null   object
 25  keywords           8000 non-null   object
dtypes: bool(4), category(3), datetime64[ns](1), float64(2), int64(5), object(11)
memory usage: 1.2+ MB

In [21]:
df["genres"]

0                        [Acción, Crimen, Suspense]
1                                         [Comedia]
2                                   [Drama, Crimen]
3                        [Crimen, Suspense, Acción]
4                                [Suspense, Acción]
                           ...
7995                              [Terror, Comedia]
7996    [Película de TV, Comedia, Romance, Familia]
7997                      [Drama, Romance, Comedia]
7998                               [Romance, Drama]
7999                             [Comedia, Romance]
Name: genres, Length: 8000, dtype: object